@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-accent: #c2b067;
}

@layer components {
    .status-count.pending,
    .task-status.pending {
        @apply text-[#b45309];
    }

    .status-color.pending,
    .task-status.pending {
        @apply bg-[#fef3c7];
    }

    .status-count.in_progress,
    .task-status.in_progress {
        @apply text-[#1d4ed8];
    }

    .status-color.in_progress,
    .task-status.in_progress {
        @apply bg-[#dbeafe];
    }

    .status-count.completed,
    .task-status.completed {
        @apply text-[#15803d];
    }

    .status-color.completed,
    .task-status.completed {
        @apply bg-[#dcfce7];
    }

    .status-count.missed,
    .task-status.missed {
        @apply text-[#b91c1c];
    }

    .status-color.missed,
    .task-status.missed {
        @apply bg-[#fee2e2];
    }

    .sidebar .active {
        @apply !text-white bg-[#1e1e1e];
    }

    .sidebar .active .page-tab-icon {
        @apply !text-accent;
    }

    .primary-btn {
        @apply border border-gray-300 px-4 py-2 rounded-lg shadow bg-white font-medium cursor-pointer;
    }

    .form-label {
        @apply text-base text-stone-800 text-sm mb-1;
    }

    .dt-layout-start {
        @apply ms-3;
    }

    .dt-layout-end {
        @apply me-3;
    }

    .dt-length,
    .dt-search {
        @apply text-xs !text-stone-700;
    }

    #dt-length-0 {
        @apply mx-1 text-base !text-black font-medium !rounded-md !border-stone-200 text-center;
    }

    #dt-search-0 {
        @apply !ms-2 !text-black !rounded-md !border-stone-200 !px-3 !py-2 !w-[250px];
    }

    .dt-info {
        @apply text-xs !text-stone-800;
    }

    .dt-paging-button {
        @apply !ms-1 font-medium !text-black !rounded-lg !border-stone-300 !bg-none transition-all ease-in;
    }

    .dt-paging-button.disabled {
        @apply !text-black/50 !border-stone-200;
    }

    .dt-paging-button.current {
        @apply !bg-stone-200;
    }

    .dt-paging-button:not(.disabled):hover {
        @apply !bg-none !bg-stone-50;
    }

    #tasks-table th {
        @apply !border-stone-300 bg-[#f9fafb];
    }

    #tasks-table tr td {
        @apply border-b !border-stone-300;
    }

    #tasks-table thead {
        @apply text-xs text-stone-600;
    }

    #tasks-table tbody {
        @apply text-sm font-medium;
    }

    /* Remove DataTables' built-in triangle content entirely */
    table.dataTable thead .dt-column-order::before,
    table.dataTable thead .dt-column-order::after {
        content: "" !important;
        display: none !important;
    }

    .dt-column-order {
        @apply inline-flex flex-col gap-0 ml-1 justify-center;
    }

    .dt-sort-asc-icon,
    .dt-sort-desc-icon {
        @apply font-medium text-[8px] opacity-40;
    }

    th.dt-ordering-asc .dt-sort-asc-icon {
        @apply opacity-100 text-yellow-600;
    }

    th.dt-ordering-asc .dt-sort-desc-icon {
        @apply opacity-100 text-yellow-400;
    }

    th.dt-ordering-desc .dt-sort-desc-icon {
        @apply opacity-100 text-yellow-600;
    }

    th.dt-ordering-desc .dt-sort-asc-icon {
        @apply opacity-100 text-yellow-400;
    }

    .task-status {
        @apply text-xs font-medium px-2 py-1 rounded-full;
    }

    .task-actions {
        @apply text-xs border border-stone-300 px-2 py-1 rounded-lg text-black inline-block;
    }

    div:has(> a > .task-actions) {
        @apply flex gap-2;
    }
}
